{
  "networks": [
    "Poki",
    "CrazyGames",
    "GamePix",
    "GameDistribution",
    "GameMonetize",
    "CoolMathGames",
    "HoodaMath",
    "FreezeNova"
  ],
  "name": "",
  "gameId": "1377b99c10284c229423118a941af3b1",
  "removeSocials": false,
  "stopAudioInBackground": false,
  "removeMidrollRewarded": true,
  "noReligion": true,
  "removeServiceWorker": true,
  "interTypes": {
    "loader": false,
    "mainMenuStart": true,
    "randomskins": false,
    "removeads": true,
    "levelStart": true,
    "restart": false,
    "levelStartFromMenu": false,
    "levelStartOnSuccess": true
  },
  "splashScreen": true,
  "sitelock": false,
  "sites": [ 
    "*"
  ],
  "correctWebsite": "*"
}
